# K Means Clustering for Customer Data

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings('ignore')

## Data Exploration

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/datasets/mall_customers.csv')
df.head()

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

## TODO:

### Exploratory data analysis 

To understand the dataset a little better, perform Pairplot/Distplot of features, colored by the gender.

### Apply feature scaling

Many clustering algorithms are sensitive to the scale of the data. Apply feature scaling to the dataset before fitting the clustering model.

### Cluster the data

To find the best value of K, run K-Means with different values, plot the curve of Inertia vs K, and find the best value using the Elbow method

# Find optimal K with Silhouette

Use the Silhouette index to find the best value of K for this dataset. You will need to again fit the model for various values of K.

Does it coincide with the Elbow method?

# Other clustering algorithms
Try using other clustering algorithms such as DBScan. 

In the case of DBScan, try finding the optimal Silhouette by varying the $epsilon$ (`eps`) distance and the min number of samples of the neighbourhood for a core point (`min_samples`). Do the number of clusters found matches those obtained with K-Means?

#  Using PCA to visualize results 

Use PCA to reduce from the number of features to only 2, and then plot the results using a scatterplot, with the cluster as the hue of the markers.