In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/datasets/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

## Data Cleaning

In [ ]:
# Impute/remove null values

In [ ]:
# Remove duplicate rows

### EDA

In [ ]:
# Plot features/columns to analize information

### Encoding

In [ ]:
# Convert categorical variables into numerical

### Splitting

In [ ]:
# Split dataset into training and testing

## Finding best max depth value

In [ ]:
# Iterate overt different max depth values to get the best Decision tree model using different metrics

In [ ]:
# Get predictions over testing dataset using the best model

## Feature Importance

In [ ]:
# Plot feature importance

## Plot the decision tree

In [ ]:
# Plot the decision tree

## Evaluation Metric

In [ ]:
# Evaluate different metrics over testing using the best model